// Animation
@keyframes ripple {
  100% { opacity:0; transform:scale(2.5); }
}


.modern {

  // Container styles
  %rippleContainer { position:relative; overflow:hidden; }

  // Wave styles
  .rippleWave { position:absolute; background:rgba($lightBlue,0.3); border-radius:100%; transform:scale(0); }

  // Animate the wave
  .rippleWave.animate { animation:ripple 0.6s linear; }

  // Apply base container styles
  [data-ripple], .button, .sectionHeader_info, .bigRadio { @extend %rippleContainer; }
  
  // Gray wave
  [data-ripple="neutral"], .button { .rippleWave { background:rgba(gray,0.3); }}

  // White wave
  [data-ripple="white"], .button.-primary, .button.-secondary, { .rippleWave { background:rgba(white,0.3); }}

}