.pg-homepage {
  
  // Fade out the menu button
  .no-js & .mainHeader_menu { display:none; }
  .mainHeader_menu { opacity:0.25; }

  // Remove padding from page
  .page { padding-top:.25em; }

  // Remove footer
  .mainFooter { display:none; }

  @include medium {
    .page { padding-top:1em; }
  }
  
}