.pg-listOfSectors {
  .page { padding-bottom:0 !important; }
}

.sectorList {}
  .sectorList_item {}
    .sectorList_link { @extend .linkGroup_link; font-size:0.95em;
      &:after { display:none; }
    }
      .sectorList_item_acronym { float:right; margin:0 0 0 5px; padding-top:1px; font-size:0.9em; font-weight:bold;
        @include rtl { float:left; margin:0 5px 0 0; }
      }