@if $primitive == true {
/* Default styles ————————————————————————————————————————————————————————————*/


.welcome {
  padding-top:0 !important;
  .mainHeader { display:none !important; }
}

  .welcomeTitle { color:$blue; text-align:center; }
  .welcomeLogo { display:block; margin-left:auto; margin-right:auto; max-width:160px; text-align:center; }
    .welcomeLogo_img{}
  .welcomeFooter { margin-bottom:1em; }
    .welcomeFooter_button.button { display:block; width:100%; padding-top:.9em; padding-bottom:.9em; }


} @else {
/* Modern phone styles ———————————————————————————————————————————————————————*/


.welcome {}


}