@mixin st-ux {
  
  // Make an element unselectable
  %unselectable, [unselectable="on"] {
    user-select: none;
  }

  // Make an element invisible
  %invisible {
    position:absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  // Hidden elements for relaying messages to screen readers
  #alertPolite, #alertAssertive, .reader{
    @extend %invisible;
  }

  // Used to tell javascript which screen size is currently active.
  // This makes sure there are no differences in JS and CSS sizes
  #screenSize{ @extend %invisible; font-family:"default";
    @include small      { font-family:"small"; }
    @include smallPlus  { font-family:"small, smallPlus"; }
    @include medium     { font-family:"small, smallPlus, medium"; }
    @include mediumPlus { font-family:"small, smallPlus, medium, mediumPlus"; }
    @include large      { font-family:"small, smallPlus, medium, mediumPlus, large"; }
  }

}