/*————————————————————————————————————————————————————————————————————————————————
  ESSENTIALS
————————————————————————————————————————————————————————————————————————————————*/
  $baseRem: 16px; // Used to calculate fallback pixel values for browsers which do not support REM units
  $baseRatio: 1.22; // Used as default scale / multiplier
  $pixelFallback: true; // Set to false if you can work with REM units
  $ie8: true; // Enables IE8 compatile opacity
  $align: left; // Default direction for text, floats, etc.
  $direction: ltr; // Default direction for text, floats, etc.
  $debug: false; // Shows some helpful info while styling
  $file-path: "/module/Application/public"; // Base file path, relative to root
  $img-path: "../media/"; // Base filepath, relative to css output


/*————————————————————————————————————————————————————————————————————————————————
  BRAND COLORS
————————————————————————————————————————————————————————————————————————————————*/
  $blue: #0077c0;
  $darkBlue: #0f385a;
  $lightBlue: #4ba6dd;

  $orange: #f7941e;
  $lightOrange: #fdc581;

  $green: lighten(#00743e, 8);
  $darkGreen: #0c331e;
  $lightGreen: #5bbd72;

  $red: #c61d23;
  $darkRed: #5f1312;
  $lightRed: #e6656a;

  $purple: #9d3c72;
  $darkPurple: #461a34;
  $lightPurple: #c875a2;

  $brown: #60503e;
  $darkBrown: #3d3126;
  $lightBrown: #9f7a5f;
  
  $black: #231f20;
  $gray: #595959;
  $lightGray: #e6e6e6;
  $white: #ffffff;


/*————————————————————————————————————————————————————————————————————————————————
  SITE COLORS
————————————————————————————————————————————————————————————————————————————————*/
  $primary: $green; // Primary interest (e.g., call-to-action button)
  $secondary: $blue; // Headers, form labels... you decide
  $neutral: #4E4E4E; // A simple neutral color
  $neutral-dark: #242424; // Headers and such...
  $neutral-light: #D9D9D9; // Very light & sexy backgrounds, borders, etc.

  $positive: $lightGreen; // Success messages and such...
  $negative: darken($lightRed, 5); // Error messages and such...
  $warning: $orange; // I promise I'll be more careful next time, officer.

  $text: $gray; // Default text color
  $text-strong: $black; // Emphasised text (<h1>, <strong>, ...)
  // $text-light: tint($text, 15%); // De-emphasised text (<small>, <cite>, ...)
  $link: $blue; // Default link color



/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT: CUSTOM
————————————————————————————————————————————————————————————————————————————————*/
  $basicMargin: 18px;
  $modernMargin: 20px;



/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT: GRID
————————————————————————————————————————————————————————————————————————————————*/
  // $grid-columns: 12; // Total number of columns in a grid
  // $grid-spacing: 2.2rem; // Base spacing for small screens

  $grid-small-breakpoint: em(300px); // Media query condition. This one targets entry-level smartphones (usually)
  // $grid-small-width: null; // Optional max-width for the container
  // $grid-small-include: true; // Toggles whether this particular grid will be included

  // $grid-smallPlus-breakpoint: em(428px); // Larger smartphones (usually)
  // $grid-smallPlus-width: null;
  // $grid-smallPlus-include: true;

  // $grid-medium-breakpoint: em(600px); // Tablets (usually)
  // $grid-medium-width: null;
  // $grid-medium-include: true;

  // $grid-mediumPlus-breakpoint: em(800px); // Tablets (usually)
  // $grid-mediumPlus-width: null;
  // $grid-mediumPlus-include: true;

  $grid-large-breakpoint: em(1025px); // Larger devices (usually). Also IE8 default
  $grid-large-width: 960px; // Required for IE8
  // $grid-large-include: true;

  // $grid-largePlus-breakpoint: em(1280px);
  // $grid-largePlus-width: null;
  $grid-largePlus-include: false;

  // $grid-xlarge-breakpoint: em(1600px);
  // $grid-xlarge-width: null;
  $grid-xlarge-include: false;


/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: BLOCKS (Hint: Use fewer columns to optimise filesize)
————————————————————————————————————————————————————————————————————————————————*/
  // $blocks-spacing: $grid-spacing / 2; // Spacing between block columns
  // $blocks-small:  4; // Total number of columns in a block grid for small screens
  // $blocks-medium: 6; // Total number of columns in a block grid for medium screens
  // $blocks-large:  8; // Total number of columns in a block grid for large screens


/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: GAPS
————————————————————————————————————————————————————————————————————————————————*/
  // $gapSmall: 16px; // Smaller gap value
  // $gap: 32px; // Gaps are your standard, responsive margins for separating page sections
  // $gapLarge: 54px; // Larger gap value
  // $gapMultiplier: 1.2; // Used to scale gaps responsively


/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: HELPERS
————————————————————————————————————————————————————————————————————————————————*/
  // $global-radius: null; // Global border radius (optional)
  // $ui-radius: 4px; // Radius for some UI elements (required)


/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: BASE
————————————————————————————————————————————————————————————————————————————————*/
  $sans-font-family: "Helvetica Neue", Arial, sans-serif;
  // $serif-font-family: Georgia, "Times New Roman", Times, serif;
  // $monospace-font-family: Menlo, Monaco, Consolas, monospace;
  
  // Latin fonts
  $body-font-family: $sans-font-family;
  $header-font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  $interface-font-family: $sans-font-family;

  // Arabic fonts
  $arabic-font-enabled: true;
  $arabic-font-family: Greta, "arabic typesetting", Tahoma, Arial, sans-serif;
  $arabic-font-size: 1.05rem;
  $arabic-line-height: 1.6;

  $preformat-line-height: 1.4;
  // $preformat-gap: 0.975rem * $preformat-line-height;


/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: HEADERS
————————————————————————————————————————————————————————————————————————————————*/
  // $headers: "h1, h2, h3, h4, h5, h6";
  // $header-font-weight: bold;
  // $header-font-color: $neutral-dark;
  // $header-line-height: 1.4;

  // $h1: 1.80em;
  // $h2: 1.65em;
  // $h3: 1.40em;
  // $h4: 1.20em;
  // $h5: 1.15em;
  // $h6: 1.10em;


/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: GENERAL SIZING
————————————————————————————————————————————————————————————————————————————————*/
  // $text-small:   0.94em;
  // $text-smaller: 0.85em;
  // $text-large:   1.16em;
  // $text-larger:  1.30em;



/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: LISTS
————————————————————————————————————————————————————————————————————————————————*/
  // $list-decoration: disc;
  // $list-decoration-alt: circle;


/*————————————————————————————————————————————————————————————————————————————————
  CONTENT :: BUTTONS
————————————————————————————————————————————————————————————————————————————————*/
  $button-size: 1.20em;
  $button-font-size: 1rem;


/*————————————————————————————————————————————————————————————————————————————————
  FORMS
————————————————————————————————————————————————————————————————————————————————*/
  // Field wrapper
  $form-item-gap: 28px;

  // Global input styles
  $input-radius: null;
  $input-height: 42px;

  // $label-font-size: 0.9rem;
  // $label-font-color: $text-strong;
  // $label-font-weight: bold;
  // $input-font-size: 1rem;

  // $input-background-color: white;
  $input-border-color: darken($lightGray, 8);
  $input-focus-color: lighten($lightBlue, 15);
  $input-active-color: $blue;
