@import "compass/reset";
@import "settings";
@import "foundation";
@import "font-awesome";
@import "helpers";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";



// Flip Switch
  .onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    input[type="checkbox"] + label, input[type="radio"] + label{ display:block; margin-right:0; }
  }
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 25px;
  }
  .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0px 12.5px 0px rgba(0,0,0,0.08) inset;
  }
  .onoffswitch-inner:before {
    content: "";
    padding-left: 5px;
    background-color: #05AC58; color: #FFFFFF;
    border-radius: 25px 0 0 25px;
  }
  .onoffswitch-inner:after {
    content: "";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 25px 25px 0;
  }
  .onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #FFFFF; border-radius: 25px;
    position: absolute; top: 0; bottom: 0; right: 31px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }


// Button additional classes
  .button{
    &.b-outline{ background:$white; color:$primary-color; border:1px solid $primary-color;
      &:hover{ background:$primary-color; color:$white; }
    }
    &.b-neutral{ background:#f8f8f9; border-top:1px solid $border-color; color:$body-font-color; }
    &.b-white{ background:$white; color:$body-font-color; border:1px solid $border-color; }
    &.b-primary{ background:$primary-color; color:$white; }
  }

// Settings for labels inside the select box
  .selectlabel{
    position:relative; 
    label{ position:absolute; top:8px; left:10px; @extend .font-medium; }
    select{ text-align:right; }
  }

// Main Menu List
  .mmenu-list{ margin:0; padding:0; @extend .padding-t25; }

// Block List
  .bblock-list{ margin:0;
    li{ position:relative; border-bottom:1px solid $border-color; 
      &:first-child{ border-top:1px solid $border-color; }
      a{ display:block; padding:10px; }
      i{ position:absolute; right:10px; top:15px; } 
    }
  }

// Header
  header{
    background:$primary-color;
    h1,h2,h3,h4,h5,h6,p{ color:$white; }
    .fa-bars{ font-size: rem-calc(40); color:$white; }
  }

// Section
  .page{ @extend .content-gap; }
  .search-box{ position:relative; 
      input[type="text"]{ padding-left:30px; }
      .fa{ position:absolute; top:10px; left:10px; color:$border-color; }
    }

// Footer
  footer{ position:fixed; bottom:0; left:0; right:0px; width:100%; margin-bottom:0px; @extend .margin-t30;
    .button{ margin:0;
      &:first-child{ border-right:1px solid $border-color; }
    }
    a{ font-size: rem-calc(18);
      .fa{ font-size: rem-calc(20); margin-right:10px; }
    }
    .left{ width:40%; }
    .right{ width:60%; }
  }



.important{ color:$warning-color; }
.fa-question-circle{ font-size: rem-calc(24); vertical-align:bottom; }

.content-title{ position:relative;
  h3{ width:80%; margin-bottom:0; }
  span{ position:absolute; top:0; right:0; font-size: rem-calc(12); }
}
.content-box{
  .sub-link{ font-size: rem-calc(12); margin-bottom:5px; color:#929292; }
  .info-summary{ font-size: rem-calc(14); padding-bottom:20px; border-bottom:1px solid $border-color; }
}

.content-text{ font-size: rem-calc(13); }

// GEO-MAP settings
  #mos-map {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
  }

// News and events page
  .news-and-events{
    .news-post:last-child{ border-bottom:none; }
  }

// Survey page
  .survey{
    .fa-calendar{ font-size: rem-calc(24); margin-top:5px; }
  }

// Incident page
  .incident{
    .fa-microphone, .fa-camera{ font-size: rem-calc(30); }
  }
