@charset "UTF-8";
/*————————————————————————————————————————————————————————————————————————————————
  Remove unit values from integers
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Convert rem / em to px
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  EM Helper
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Z-index helper
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Tint & Shade
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Directional opposites
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Main REM mixin with pixel fallback

  Syntax:
  @include rem( <attribute>, <values...> );

  Example: @include rem(font-size, 1.2rem);
  Outputs: font-size: 19px; font-size:1.2rem;

  Example: @include rem(margin, 2rem 20px);
  Outputs: margin:32px 20px; margin:2rem 20px; (Initial pixel values are not converted to REM)
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Media queries
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Scalable / Responsive values

  Syntax:
  @include responsive(
    <attribute> <value> <multiplier>?
  );
  
  Sample usage:
  @include responsive(
    margin-top 20px 3,
    margin-bottom 50px 2
  );
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Desktop values for IE8
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  CSS Triangle
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  PNG scalable icon
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Icon scale
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Proportional image scaling
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Base64 an image
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Opacity
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Clearfix
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Automatic right-to-left support mixins
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  ESSENTIALS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  BRAND COLORS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  SITE COLORS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT: GRID
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: BLOCKS (Hint: Use fewer columns to optimise filesize)
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: GAPS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: HELPERS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: BASE
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: HEADERS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: GENERAL SIZING
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: LISTS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  CONTENT :: BUTTONS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  FORMS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  ESSENTIALS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  BRAND COLORS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  SITE COLORS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT: CUSTOM
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT: GRID
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: BLOCKS (Hint: Use fewer columns to optimise filesize)
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: GAPS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LAYOUT :: HELPERS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: BASE
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: HEADERS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: GENERAL SIZING
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  TYPE :: LISTS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  CONTENT :: BUTTONS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  FORMS
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Layout core
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  GPU composite layer
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Absolute fill
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  Typography core
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  LIST NESTING
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  UNORDERED LIST
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  ORDERED LIST
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  INLINE LIST
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  SEPARATOR LIST
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  SATIN CLASSES
————————————————————————————————————————————————————————————————————————————————*/
/*————————————————————————————————————————————————————————————————————————————————
  DEBUGGER
————————————————————————————————————————————————————————————————————————————————*/
.arabicSans {
  font-family: "Nassim Arabic Regular", Greta, "arabic typesetting", Tahoma, Arial, sans-serif !important;
}

#grid .demo {
  padding-top: 15px;
  border: 4px;
  font-size: 14px;
  text-align: center !important;
  background: rgba(0, 0, 0, 0.08);
}
#grid .demo span {
  display: block;
  padding-bottom: 15px;
}

.preformat h1 + ul, .preformat h1 + ol, .preformat h1 + pre, .preformat h2 + ul, .preformat h2 + ol, .preformat h2 + pre, .preformat h3 + ul, .preformat h3 + ol, .preformat h3 + pre, .preformat h4 + ul, .preformat h4 + ol, .preformat h4 + pre, .preformat h5 + ul, .preformat h5 + ol, .preformat h5 + pre, .preformat h6 + ul, .preformat h6 + ol, .preformat h6 + pre {
  margin-top: 0.546rem;
}
.preformat figure {
  position: relative;
  margin-left: -1.1rem;
  margin-right: -1.1rem;
  padding: 0;
  text-align: center;
}
.preformat figure img {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.preformat figure figcaption {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
  padding-top: 15px;
  padding-top: 0.91rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.95em;
  font-style: italic;
  text-align: left;
}
@media only screen and (min-width: 37.5em) {
  .preformat figure {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .preformat figure img {
    width: auto;
  }
  .preformat figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1em;
  }
}
.preformat abbr {
  cursor: help;
  border-bottom: 1px dotted #5e5e5e;
}
.preformat del, .preformat s {
  text-decoration: line-through;
}
.preformat code {
  padding: .1em .2em;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 0.95em;
  color: #0077c0;
  line-height: 1.1;
  background: #e5f1f8;
}
.preformat kbd {
  display: inline-block;
  margin: 0 .1em;
  border: 1px solid #CCC;
  padding: .22em .4em;
  font-size: 0.85em;
  font-weight: bold;
  color: #5e5e5e;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: 1px;
  background-color: #f2f2f2;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-shadow: 0 1px 0 #FFF;
  white-space: nowrap;
}
.preformat blockquote {
  margin: 0;
  padding: .5em 1.1em .25em 1.05em;
  font-size: 0.95em;
  border-left: 1px solid #DDD;
  color: #5e5e5e;
}
.preformat blockquote cite {
  display: block;
  margin-top: 0.25em;
  font-size: 0.8em;
}
.preformat blockquote cite:before {
  margin-right: 0.4em;
  content: '—';
}
.preformat pre {
  padding: 1em;
  background: #f7f7f7;
  border: 1px solid #e8e8e8;
  overflow: auto;
  text-rendering: optimizeSpeed;
}
.preformat pre code {
  display: block;
  padding: 0 !important;
  font-size: 0.9em;
  font-family: Menlo, Monaco, Consolas, monospace;
  font-weight: inherit;
  color: inherit;
  line-height: 1.45;
  white-space: pre;
  text-rendering: optimizeSpeed;
  background: none;
}

.grid, .lt-ie9 .grid {
  margin-top: -27px;
  margin-top: -1.69231rem;
}
.grid > .grid_column, .lt-ie9 .grid > .grid_column {
  margin-top: 27px;
  margin-top: 1.69231rem;
  padding-left: 18px;
  padding-left: 1.1rem;
  padding-right: 18px;
  padding-right: 1.1rem;
}
.grid .grid, .lt-ie9 .grid .grid {
  margin-left: -18px;
  margin-left: -1.1rem;
  margin-right: -18px;
  margin-right: -1.1rem;
}

@media only screen and (min-width: 37.5em) {
  .grid, .lt-ie9 .grid {
    margin-top: -33px;
    margin-top: -2.06462rem;
  }
  .grid > .grid_column, .lt-ie9 .grid > .grid_column {
    margin-top: 33px;
    margin-top: 2.06462rem;
    padding-left: 21px;
    padding-left: 1.342rem;
    padding-right: 21px;
    padding-right: 1.342rem;
  }
  .grid .grid, .lt-ie9 .grid .grid {
    margin-left: -21px;
    margin-left: -1.342rem;
    margin-right: -21px;
    margin-right: -1.342rem;
  }
}
@media only screen and (min-width: 64.0625em) {
  .grid, .lt-ie9 .grid {
    margin-top: -40px;
    margin-top: -2.51883rem;
  }
  .grid > .grid_column, .lt-ie9 .grid > .grid_column {
    margin-top: 40px;
    margin-top: 2.51883rem;
    padding-left: 26px;
    padding-left: 1.63724rem;
    padding-right: 26px;
    padding-right: 1.63724rem;
  }
  .grid .grid, .lt-ie9 .grid .grid {
    margin-left: -26px;
    margin-left: -1.63724rem;
    margin-right: -26px;
    margin-right: -1.63724rem;
  }
}
