@mixin inputBase {
  width: 100%;
  padding: 0 .75em;
  @include rem(font-size, 0.95rem);
  border: 1px solid $input-border-color;
  transition: 200ms;
}


@mixin inputBase_focus {
  box-shadow: 1px 2px 6px rgba(darken($input-focus-color, 20), 0.35), 0 0 0px 1px $input-focus-color !important;
  outline: 4px $input-focus-color;
}


%inputBase { @include inputBase; }
%inputBase_focus { @include inputBase_focus; }


.form_legend { display:block; margin-bottom:1.2em; font-size:18px; color:$blue; font-weight:normal; text-align:left; }

.form_item { margin-bottom:$form-item-gap; }
  .form_item_column.-alignRight { @include text-align(right); }
  .form_label { display:block; padding-bottom:.5em; font-size:0.9em; font-weight:500; color:$black; }


@include smallPlus {
  .form_legend { text-align:center; }
}