@mixin inputBase {
  width: 100%;
  padding: 0 .75em;
  @include rem(font-size, 0.95rem);
  border: 1px solid $input-border-color;
  transition: 200ms;

  @at-root {
    .-error & {
      border-color:$negative;
    }
  }
}


@mixin inputBase_focus {
  box-shadow: 1px 2px 6px rgba(darken($input-focus-color, 20), 0.35), 0 0 0px 1px $input-focus-color !important;
  outline: 4px $input-focus-color;
}

%inputBase { @include inputBase; }
%inputBase_focus { @include inputBase_focus; }

// --------------------------------------------------------------------

.form_legend { display:block; margin-bottom:1.2em; font-size:18px; color:$blue; font-weight:normal; text-align:left; }

.form_item { margin-bottom:$form-item-gap; }
  .form_item_column.-alignRight { @include text-align(right); }
  .form_label { display:block; padding-bottom:.5em; font-size:0.95em; font-weight:500; color:$black; }
  .form_item_help { display:block; margin-top:-.15em; padding-bottom:.75em; font-size:0.85em; color:lighten($gray, 10); }
  .form_field { position:relative; }
  .form_error { display:none; padding:0.5em; font-size:0.9em; color:white; background:$negative; }

// Remove margin from last form item
.form > .form_item:last-child { margin-bottom:0; }

// Error state
.form_item.-error {
  .form_error { display:block; }
}

// --------------------------------------------------------------------

@include smallPlus {
  .form_legend { text-align:center; }
}