.callScreen { position:fixed; z-index:50; top:0; left:0; width:100%; height:100%; color:white; text-align:center;
              background:$blue; background:rgba($blue, 0.97); display:none; opacity:0; left:-100%; visibility:hidden; @extend %ease; }
  .callScreen_top { height:$headerHeight; }
    .callScreen_back { float:left; padding:($headerHeight/3) ($headerHeight/3.5) 0; height:$headerHeight; }
      .callScreen_back_icon { vertical-align:middle; }
      .callScreen_back_label { padding-left:5px; vertical-align:middle; }
  .callScreen_middle { @extend .header; padding-top:.5em; font-size:1.5em; color:white; font-weight:300; }
    
    // Dial base
    $dialBg: lighten($blue,6%);
    .callScreen_dial { position:absolute !important; bottom:0; width:50%; }
      .callScreen_dial_inner { padding:20px 10px; background:$dialBg; background-image:linear-gradient(to bottom, lighten($dialBg,7%), darken($dialBg,1%));
                               box-shadow:inset 0 1px 1px 0 rgba(white,0.25); }
        .callScreen_dial_title { display:block; @extend .header; margin-bottom:8px; font-size:1.35em; color:white; font-weight:bold; }
        .callScreen_dial_image { display:none; margin-bottom:26px; }
        .callScreen_dial_info { display:block; font-size:0.95em; color:rgba(white,0.85); }
    
    // Left & Right
    .callScreen_dial.-left { left:0; padding-right:1px; 
      .callScreen_dial_inner { border-radius:0 5px 0 0; }}
    .callScreen_dial.-right { right:0; padding-left:1px; border-radius:5px 0 0 0;
      .callScreen_dial_inner { border-radius:5px 0 0 0; }}
    
    // Hover
    .callScreen_dial_inner:hover { box-shadow:inset 0 0 0 200px rgba(white,0.15); }


// Show the icon and larger fonts for taller screens
@include respond( "min-height:320px" ){
  .callScreen_middle { font-size:1.75em; }
  .callScreen_dial_title { margin-bottom:18px; }
  .callScreen_dial_image { display:block; }
}


// Expand for even taller screens
@include respond( "min-height:500px" ){
  .callScreen_dial_inner { padding-top:36px; padding-bottom:30px; }
}


// This only works with js anyways
.js.pageReady .callScreen { display:block;
  .icon.-arrowLeftWhite14 { @include img("icons", "arrowLeft-white-h14@2x", 2); }
  .icon.-phone { @include img("icons", "phone-white-h64@2x", 2); }
  .icon.-skype { @include img("icons", "skype-white-h64@2x", 2); }
}
.js.transforms.pageReady .callScreen { left:0; transform:translateX(-100%); }
.js .callScreen.-show { display:block; left:0 !important; transform:translateX(0) !important; opacity:1; visibility:visible; }