html { height:100%; font-size:100%; }
body { height:100%; }

// --------------------------------------------------------------------

// Wrapper for AJAX content
#page { position:relative; z-index:z(layout, 1); transition:opacity 400ms ease-in, transform 400ms ease-in;
  &.-loading { transform:translateX(-10px) translateZ(0); opacity:0; transition:opacity 300ms ease-in, transform 400ms ease-in; }
  &.-promoted { z-index:z(modal, 10); }

  // Disable sliding for rtl languages due to a bug...
  @include rtl {
    transform:none;
    &.-loading { transform:none; }
  }
}

// --------------------------------------------------------------------

// Wrapper for the html/css page (Note: this is not the same as #page above)
.page {
  @include responsive(padding-bottom 50px);
  &.-extraMargin { margin-top:.5em; }
  &.-noPadding { padding:0 !important; }
}