html { height:100%; font-size:100%; }
body { height:100%; }

// --------------------------------------------------------------------

// Wrapper for AJAX content
#page { position:relative; z-index:z(layout, 1); transform:translateZ(0); transition:opacity 400ms ease-in, transform 400ms ease-in;
  &.-loading { opacity:0; transition:opacity 300ms ease-in, transform 400ms ease-in; }
  &.-promoted { z-index:z(modal, 10); }
}

// --------------------------------------------------------------------

// Wrapper for the html/css page (Note: this is not the same as #page above)
.page {
  @include responsive(padding-bottom 50px);
  &.-extraMargin { margin-top:.5em; }
  &.-noPadding { padding:0 !important; }
}