@if $primitive == true {
/* Default styles ————————————————————————————————————————————————————————————*/


html { height:100%; font-size:110%; }
body { min-height:100%; }

.page { padding-top:$primitiveMargin; padding-bottom:$primitiveMargin; }

.page.-extraMargin { margin-top:.5em; }
.page.-noPadding { padding:0 !important; }

#pageLoad { display:none; }


} @else {
/* Modern phone styles ———————————————————————————————————————————————————————*/


// Reduce font size a bit on larger screens
@include large {
  html { font-size:105%; }
}

// Increase padding for larger phones
@include small {
  .page {
    @include responsive(
      padding-top ($gapSmall) ($gapMultiplier),
      padding-bottom ($gapSmall) ($gapMultiplier)
    );
  }
}

// Loading a page with ajax
#page { transform:translateZ(0); transition:300ms;
  &.-loading { transform:translateX(-2%) translateZ(0); opacity:0; } }
#pageLoad { display:block; position:absolute; position:fixed; z-index:99; top:0; left:0; width:100%; height:0; background:rgba(black,0.2); opacity:0; transition:100ms;
  &.-show { opacity:1; height:100%; color:white; } }


}