$headerHeight: 58px;
$active-background: darken($blue, 8);


// Basic styling
.mainHeader { padding:1em; color:white; background:$blue; font-size:0.9em; }
  .mainHeader_top { text-align:center; }
    .mainHeader_call { display:none; }
    .mainHeader_logo { cursor:default !important; display:inline-block; margin-bottom:1em; }
    .mainHeader_menu {}
      .mainHeader_menu { display:block; margin-bottom:1em; text-decoration:underline; transition:opacity 1s ease-in-out; }
  .mainHeader_bottom { text-align:center; }


// If javascript is supported, we make a nice compact little header
.js {
  @include small {
    
    // Header button commons
    %headerButton { height:$headerHeight; line-height:$headerHeight; padding:0 14px; font-size:0.85em; font-weight:bold;
      &_img { vertical-align:-7px; }
    }

    .mainHeader { min-height:$headerHeight; padding:0; }
      .mainHeader_wrapper { position:relative; }
        .mainHeader_top { position:relative; z-index:2; height:$headerHeight; background:$blue; }
          .mainHeader_call, .mainHeader_menu { position:absolute !important; top:0; }
          .mainHeader_call { @extend %headerButton; left:0; display:block; padding-left:40px !important; }
            .mainHeader_call_icon { position:absolute; top:17px; left:11px; @include img("icons", "phone-white-h24@2x", 2, inline); }
          .mainHeader_logo { margin:0 0 0 8px; padding:8px 10px; height:$headerHeight; }
            .mainHeader_logo_expanded { display:none; }
          .mainHeader_menu { display:block; @extend %headerButton; display:block; right:0; padding-right:48px !important; text-decoration:none; }
            .mainHeader_menu_label {}
            .mainHeader_menu_icon { position:absolute; top:17px; right:14px; }
            .mainHeader_menu_open { @include img("icons", "menu-white-h24@2x", 2, inline); }
        .mainHeader_bottom { display:none; padding:0 !important; background:$active-background; background-image:linear-gradient(to bottom, $active-background, rgba($active-background, 0.95)); }
          .mainHeader_infoLine { display:none; }
    
    // Nav open
    .mainHeader.-active {
      .mainHeader_top {}
        .mainHeader_menu { background:darken($blue, 8); }
          .mainHeader_menu_open { display:none; }
      .mainHeader_bottom { display:block; }
    }

    // Modern phones get pretty animations and a sticky (fixed) header
    &.modern {
      body { padding-top:$headerHeight; } // We need to offset the .page selement for the fixed header
      .mainHeader { position:fixed; z-index:z(layout, 2); top:0; left:0; width:100%; transform:translateZ(0); }
    }
  }

  @include medium {
    .mainHeader_logo {}
      .mainHeader_logo_img { display:none; }
      .mainHeader_logo_expanded { @include st-icon; @include img("globals", "logoHorizontal-white-h42@2x", 2); display:inline-block !important; }
  }
  
  @include large {
    .mainHeader_logo { margin-left:-14px; }
  }
}