#relay { visibility:hidden; width:0; height:0; }

.floatLeft { @include float(left); }
.floatRight { @include float(right); }
.clearfix{ @include clearfix; }


.pageReady {
  %animateOnReady, [animateOnReady], [data-animateOnReady] {
    @extend %animate;
  }
}


#infiniteScrollTrigger { width:100%; height:1px; }