#relay { visibility:hidden; width:0; height:0; }

.floatLeft { @include float(left); }
.floatRight { @include float(right); }
.clearfix{ @include clearfix; }


%animate, [animate] {
  transition: 300ms ease-out;
  transform:translateZ(0);
}


.ready {
  %animateOnReady, [animateOnReady] {
    @extend %animate;
  }
}