.mapContainer { position:relative; background:url("#{$img-path}globals/loader-blue-28.gif") center center no-repeat; }
  .geoLocator { position:absolute; z-index:2; top:12px; left:15px; height:0; font-size:.8em; overflow:hidden; opacity:0; transition:opacity 500ms;
    &.-active { height:auto; padding:6px; opacity:1; }
    &.-searching { color:black; background:$yellow; background:rgba($yellow,0.85); }
    &.-success { color:white; background:$positive; background:rgba($positive,0.85); }
    &.-error { color:white; background:$negative; background:rgba($negative,0.85); }
  }
  .map { min-height:250px; }
    .map img { max-width:none; }

// #map { width:100%; margin:0; padding:0; }
// #map-canvas { height:100%; margin:0px; padding:0px; }
// #panel { position:absolute; top:5px; left:50%; margin-left:-180px; z-index:5; background-color:#fff; padding:5px; border:1px solid #999; }