.accordion {
  width: 100%;
}

  .accordion .accTab {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    text-align: left;
  }

  .accordion div .accContent {
    display: none;
    margin: 5px 0;
  }

  .accordion div:target .accContent {
    display: block;
    padding: 0 1.5em;
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.2;
  }

  .accordion > div {
    overflow: hidden;
  }

  .accordion > div:target {
    height:auto;
    margin-bottom: 1em;
  }

  .accordion .accContent p {
    margin: 10px 0;
  }