@if $primitive == true {
/* Default styles ————————————————————————————————————————————————————————————*/


.sectionHeader {
  position: relative;
  margin-bottom: .6em;
  padding-bottom: .6em;
  border-bottom: 1px solid $lightGray;
}

  .sectionHeader_inner {
    // position: relative;
  }

    .sectionHeader_title {
      display: block;
      font-size: $h4;
      color: $black;
      text-align: center;
    }

    .sectionHeader_info {
      position: absolute;
      top: -52%;
      right: 0;
      padding-top: 14px;
      width: 54px;
      height: 50px;
      text-decoration: none;
      text-align: center;
      border: 0px !important;
      opacity: 0.25;
      transition: 300ms;

      &:hover {
        opacity: 1;
      }
    }


.sectionHeader.-noMargin {
  .sectionHeader_inner {
    margin-bottom: 0 !important;
  }
}

// Update Personal Data - Summary
.personalData_body{ 
  line-height: 1.2;
}
  
  .personalData_preformat{
    display: block;
    font-size: 0.9em;
  }
    .-preformatGap{
      padding-bottom:1em;
    }

  .personalData_newData{
    padding: 1.5em 0em 2em;
    color: $lightBlue;
  }


// Important text
.warningText{ color: $lightRed; }

  .-checkStatus{
    text-transform: uppercase;
    text-align: center;
    margin:1em 0 2em;
    color: $red;
  }



.verticalList {}
  .verticalList_item { margin-bottom:1em; }



} @else {
/* Modern phone styles ———————————————————————————————————————————————————————*/


.sectionHeader {
  @include responsive(
    padding-bottom ($gapSmall) ($gapMultiplier),
    margin-bottom ($gapSmall * 1.3) ($gapMultiplier + 0.1)
  );
}

  .sectionHeader_inner {}

    .sectionHeader_title {
      @include responsive(font-size 20px 1.1);
    }
    
    .sectionHeader_info {}


  .sectionContent_title{
    @include responsive(font-size 18px 1.1);
  }

}