@if $primitive == true {
/* Default styles ————————————————————————————————————————————————————————————*/


.sectionHeader {
  position: relative;
  margin-bottom: .6em;
  padding-bottom: .6em;
  border-bottom: 1px solid $lightGray;
}

  .sectionHeader_inner {
    // position: relative;
  }

    .sectionHeader_title {
      display: block;
      font-size: 18px;
      color: $black;
    }

    .sectionHeader_info { display:none; }
      .sectionHeader_info_wrapper { height:auto !important; margin-top:-5px; }
        .sectionHeader_info_body { padding-bottom:1em; font-size:0.85em; }


.sectionHeader.-noMargin {
  .sectionHeader_inner {
    margin-bottom: 0 !important;
  }
}

// News and Events
.news{}

  .news_title{
    display: block;
    font-size: 18px;
    color: $darkBlue;
    text-align: left;
  }

  .news_release{
    display: block;
    font-size: 0.9em;
    margin:0.5em 0 1em;
  }
    .news_date{
      font-style: italic;
    }

  .news_description{
    display: block;
    font-size: 0.9em;
    line-height: 1.2;
    padding-bottom: 1em;
  }

  .-newsSeperator{
    margin-bottom: 1em;
    border-bottom:1px solid lightgray;
    &:last-child{ margin-bottom: 0; border-bottom: none; }
  }

// News Article
.newsArticle{}

  .newsArticle_title{
    color: $blue;
    text-align:center;
  }

  .newsArticle_release{
    display: block;
    font-size: 0.9em;
    margin-top:2em;
  }

  .newsArticle_link{
    color: $darkBlue;
  }

  .newsArticle_body{
    display: block;
    font-size: 1em;
    line-height: 1.4;
    padding: 1em 0;
    text-align: justify;
  }

// Update Personal Data - Summary
.personalData_body{ 
  line-height: 1.2;
}
  
  .personalData_preformat{
    display: block;
    font-size: 0.9em;
  }
    .-preformatGap{
      padding-bottom:1em;
    }

  .personalData_newData{
    padding: 1.5em 0em 2em;
    color: $lightBlue;
  }


// Accordion
.accordion {
  width: 100%;
}

  .accordion .accTab {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    text-align: left;
  }

  .accordion div .accContent {
    display: none;
    margin: 5px 0;
  }

  .accordion div:target .accContent {
    display: block;
    padding: 0 1.5em;
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.2;
  }

  .accordion > div {
    overflow: hidden;
  }

  .accordion > div:target {
    height:auto;
    margin-bottom: 1em;
  }

  .accordion .accContent p {
    margin: 10px 0;
  }


// Important text
.warningText{ color: $lightRed; }

  .-checkStatus{
    text-transform: uppercase;
    text-align: center;
    margin:1em 0 2em;
    color: $red;
  }



.verticalList {}
  .verticalList_item { margin-bottom:1em; }



} @else {
/* Modern phone styles ———————————————————————————————————————————————————————*/


// .sectionHeader {
//   @include responsive(
//     padding-bottom ($gapSmall) ($gapMultiplier),
//     margin-bottom ($gapSmall * 1.3) ($gapMultiplier + 0.1)
//   );
// }

  .sectionHeader_inner {}

    .sectionHeader_title {
      @include responsive(font-size 19px 1.1);
    }


@include small {  
  .sectionHeader_info {
    display: block;
    position: absolute;
    z-index: 10;
    top: -13px;
    right: 0;
    padding-top: 14px;
    width: 54px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    border: 0px !important;
    opacity: 0.25;
    transition: 300ms;

    &:hover {
      opacity: 1;
    }
  }

    .sectionHeader_info_wrapper {
      position: absolute;
      z-index: 9;
      top: 100%;
      margin-top: -5px;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      background: $white;
      visibility: hidden;
      opacity: 0;

      .sectionHeader_info_body {}

      &.-show {
        opacity: 1;
        visibility: visible;
        box-shadow: 0 4px 5px rgba($gray, 0.6);
        border-bottom: 1px solid $lightGray;
      }
    }
}

@include smallPlus {
  .sectionHeader_title {
    text-align: center;
  }
}

}