.sectionHeader {
  position: relative;
  @include responsive(
    margin-bottom ($basicMargin),
    padding-bottom ($basicMargin)
  );
  border-bottom: 1px solid $lightGray;
}
  .sectionHeader_inner {}
    .sectionHeader_title { display:block; font-size:18px; color:$black; }
    .sectionHeader_info { display:none; }
      .sectionHeader_info_wrapper { margin-top:-5px; }
        .sectionHeader_info_body { padding-bottom:1em; font-size:0.85em; }

.sectionHeader.-noMargin .sectionHeader_inner { margin-bottom: 0 !important; }


// Important text
.warningText{ color: $lightRed; }
.-checkStatus{ text-transform:uppercase; text-align:center; margin:1em 0 2em; color:$red;}
.verticalList {}
  .verticalList_item { margin-bottom:1em; }


@include small {
  .sectionHeader_info {
    display: block;
    position: absolute;
    z-index: 10;
    top: -15px;
    right: 0;
    padding-top: 14px;
    width: 54px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    border: 0px !important;
    opacity: 0.25;
    transition: 300ms;

    &:hover { opacity:1; cursor:help; }
  }

    .sectionHeader_info_wrapper {
      position: absolute;
      z-index: 9;
      top: 100%;
      margin-top: -5px;
      left: 0;
      width: 100%;
      height: 0;
      overflow: hidden;
      background: $white;
      visibility: hidden;
      opacity: 0;

      .sectionHeader_info_body {}

      &.-show {
        opacity: 1;
        visibility: visible;
        box-shadow: 0 4px 5px rgba($gray, 0.6);
        border-bottom: 1px solid $lightGray;
      }
    }
}


@include smallPlus {
  .sectionHeader_title { text-align:center; @include responsive(font-size 19px 1.1); }
}