.button {
  @include st-button;
  display: block;
  width: 100%;
  margin-bottom: .5em;
  color: $neutral-dark;
  background: #e6e6e6;
  background: linear-gradient(top, lighten(#e6e6e6, 4), darken(#e6e6e6, 4));
  border: 1px solid darken(#e6e6e6, 4);
  border-radius: 3px;

  &:hover {
    background: #efefef;
    background: linear-gradient(top, lighten(#efefef, 4), darken(#efefef, 4));
  }

  &.-sharp {
    border-radius: 0 !important;
  }

  &.-fullWidth {
    display: block;
    width: 100% !important;
  }
}


.button.-primary {
  color: white;
  background: $primary;
  background: linear-gradient(top, lighten($primary, 2), darken($primary, 2));
  border: 1px solid darken($primary, 4);

  &:hover {
    $color: lighten($primary, 4);
    background: $color;
    background: linear-gradient(top, lighten($color, 2), darken($color, 2));
  }
}


.button.-secondary {
  color: white;
  background: $secondary;
  background: linear-gradient(top, lighten($secondary, 2), darken($secondary, 2));
  border: 1px solid darken($secondary, 4);

  &:hover {
    $color: lighten($secondary, 4);
    background: $color;
    background: linear-gradient(top, lighten($color, 2), darken($color, 2));
  }
}


@include small {
  .button { display:inline-block; width:auto; margin-bottom:0; padding:($button-size / 1.7) $button-size; }
  .button.-submit { display:block; width:100% !important; }
}

@include mediumPlus {
  .button.-submit { width:auto !important; padding-left:$button-size * 4; padding-right:$button-size * 4; }
}