.feedback { @include responsive(padding 1em 1.4); background:lighten($warning, 39%); }
  .feedback_icon { margin-bottom:16px; @include img("icons", "unknown-h64@2x", 2); }
  .feedback_title { display:block; margin-bottom:0.75em; @include responsive(font-size 19px 1.1); color:$warning; }
  .feedback_description { @include rem(font-size, 0.9rem); }

  // Remove margin from last child
  .feedback > *:last-child { margin-bottom:0 !important; }

@include smallPlus {
  .feedback { text-align:center; }
}


// Positive
.feedback.-positive { color:#3c443e; background:rgba($positive, 0.1);
  .feedback_icon { @include img("icons", "positive-h64@2x", 2); }
  .feedback_title { color:$positive; }
}


// Negative
.feedback.-negative { background:rgba($negative, 0.1);
  .feedback_icon { @include img("icons", "negative-h64@2x", 2); }
  .feedback_title { color:$negative; }
}


// Warning
.feedback.-warning { background:lighten($warning, 39%);
  .feedback_icon { @include img("icons", "warning-h64@2x", 2); }
  .feedback_title { color:$warning; }
}